
- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- if (pageTitle.length <= 0 && is_home()) pageTitle = config.title
- pageTitle = pageTitle.length > 0 ? pageTitle : page.slug
- var title = pageTitle
- if (pageTitle != config.title) pageTitle += ' │ ' + config.title
- var configTitle = config.title
- var configAuthor = config.author


doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= pageTitle
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      //- stylesheets list from _config.yml
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)
  body
    #content
      h1#title= title
      #menu-outer
        nav#menu-inner
          - console.log(page.path)
          if is_post() || is_category() || is_tag()
            a#menu-back(href="javascript:history.back()") Back
          else
            each url, label in theme.menu
              if is_current(url)
                span= label
              else
                a.menu-item(href=url)= label
      #content-outer
        #content-inner
          if body
            div!= body
          else
            block content
      #bottom-outer
        #bottom-inner
          hr
          div(class='website-info')
            div
              a(href="/") #{configTitle}
              a &nbsp
              //- https://hexo.io/zh-cn/docs/configuration.html
              span #{new Date().getFullYear()}@#{configAuthor}
              a(href="/atom.xml")
                img(src="/assets/rss.png")
            #hexo
              a(href="http://beian.miit.gov.cn/") 闽ICP备2021017077号-1&nbsp
  if theme.scripts !== undefined && theme.scripts.length > 0
    //- scripts list from config.yml
    each url in theme.scripts
      script(src=url)
